<html>
<head>
<title>attereco</title>

<script laguage="JavaScript"><!--
function changeImg()
{
　　　　location.reload();
}
// --></script>

</head>
<body onLoad="setInterval('changeImg()',1000*60)">

<h2 align = light >SLP出席管理システム</h2>

<h2 align = right>
<script type="text/javascript">
// 1桁の数字を0埋めで2桁にする
var toDoubleDigits = function(num) {
  num += "";
	if (num.length === 1) {
		num = "0" + num;
	}
	return num;    
};

// 日付をYYYY/MM/DD HH:DD:MI:SS形式で取得
var yyyymmddhhmiss = function() {
var date = new Date();
var yyyy = date.getFullYear();
var mm = toDoubleDigits(date.getMonth() + 1);
var dd = toDoubleDigits(date.getDate());
var hh = toDoubleDigits(date.getHours());
var mi = toDoubleDigits(date.getMinutes());
return yyyy + '/' + mm + '/' + dd + ' ' + hh + ':' + mi;
};
document.writeln(yyyymmddhhmiss());
</script>
</h2>

<br><br><br><br><br><br><br>

<h1 align = center>カードをかざして<br>出席を取ってください</h1>

<br><br><br><br><br><br><br>

<h3 align = right>
<BUTTON type="button" onclick="location.href='./login'" style="WIDTH: 200px; HEIGHT: 50px">
手動入力
</BUTTON>
</h3>

</body>
</html>
