<html>
<head>
<title>ログイン</title>

<style type = "text/css">
<!--
input#login_button {
	padding: 5px 25px;
	font-size: 0.6em;
}
//-->
</style>

<script type="text/javascript">
<!--

function disp(){

		if(window.confirm('エラー')){
			location.href = "./login";
		}
// -->
</script>

</head>
<body>

<h2>
<table id = "login_form" align = "center" valign = "middle">
<tr>
<td>poulencアカウント名&nbsp;</td>
<td><input type = "text" style = "width: 150px" /></td>
</tr>
<tr>
<td>パスワード&nbsp;</td>
<td><input type = "password" style = "width: 150px" /></td>
</tr>
</div></h2>
<tr>
<td colspan = "2" align = "right">
<input id = "login_button" onclick = "location.href='./list'" type = "submit" value = "ログイン" /></td>
</tr>
</table>

</body>
</html>
